<%= form_for(@voxel) do |f| %>
  <% if @voxel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voxel.errors.count, "error") %> prohibited this voxel from being saved:</h2>

      <ul>
      <% @voxel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :map_id %><br />
    <%= f.number_field :map_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :x %><br />
    <%= f.number_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br />
    <%= f.number_field :y %>
  </div>
  <div class="field">
    <%= f.label :z %><br />
    <%= f.number_field :z %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
